.button {
    width: 160px;
    padding: 6px;
    border: 1px solid #DF9D3B;
    border-radius: 18px;
    background-color: #6C5F4F;
    color: #DF9D3B;
    font-size: 24px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}