.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-radius: var(--default-border-radius);
    background-color: var(--yellow);
    font-size: 16px;
    color: var(--brown);
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
}

.button:hover {
    background-color: var(--yellow-hover);
}

.icon {
    filter: var(--brown-svg);
}

