.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    border-radius: 50%;
    border: 1px solid var(--yellow);
}

.message {
    font-size: 18px;
    font-weight: 300;
}
