.header {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 2px solid var(--yellow);
    border-radius: var(--default-border-radius);
}

.avatar {
    border: 1px solid var(--yellow);
    border-radius: 50%;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    color: white;
}

.fullName {
    font-size: 20px;
}

.username {
    font-size: 18px;
}