.textfieldContainer {
    display: flex;
    flex-direction: column;
}

.textfield {
    width: 14rem;
    height: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--grey-200);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 1rem;
    transition: 0.4s;
}

.textfield:focus-visible {
    outline: none;
}

.textfield:focus,
.textfield:hover {
    background-color: var(--grey-300);
}

.error {
    height: 20px;
    color: var(--red);
    font-size: 13px;
}
