.textfield {
    width: 240px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid var(--yellow);
    /* background-color: var(--brown); */
    background-color: transparent;
    color: var(--yellow);
    font-family: inherit;
    font-size: 18px;
}

.textfield:hover {
    transition: 200ms;
    width: 250px;
    border-bottom: 1px solid var(--yellow-hover);
}

.textfield:focus-visible {
    outline: none;
}

.textfield:-webkit-autofill,
.textfield:-webkit-autofill:hover, 
.textfield:-webkit-autofill:focus, 
.textfield:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--brown) inset !important;
    -webkit-text-fill-color: var(--yellow) !important;
}

