.textfield {
    display: flex;
    align-items: center;
    width: 240px;
    padding: 6px;
    border: none;
    color: #df9d3b;
    font-size: 20px;
    border-bottom: 1px solid #df9d3b;
    background-color: #6C5F4F;
}

.textfield:focus-visible {
    outline: none;
}