.scrollToTopButton {
    position: fixed;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--purple-400);
    transition: 0.3s;
    animation-duration: 0.5s;
}

.scrollToTopButton:hover {
    background-color: var(--purple-500);
}

.icon {
    filter: var(--white-svg);
}

.visible {
    right: 2rem;
    animation-name: slideInFromRight;
}

.hidden {
    right: -10rem;
    animation-name: slideOutToRight;
}

@keyframes slideInFromRight {
    from {
        right: -10rem;
    }
    to {
        right: 2rem;
    }
}

@keyframes slideOutToRight {
    from {
        right: 2rem;
    }
    to {
        right: -10rem;
    }
}