@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* Global variables */
:root {
    /* Colors */
    --purple-100: hsl(270, 100%, 94%);
    --purple-200: hsl(270, 100%, 87%);
    --purple-300: hsl(270, 100%, 80%);
    --purple-400: hsl(270, 100%, 65%);
    --purple-500: hsl(270, 100%, 50%);
    --purple-600: hsl(270, 100%, 32%);
    --purple-700: hsl(270, 100%, 25%);
    --purple-800: hsl(270, 100%, 17%);
    --purple-900: hsl(270, 100%, 10%);

    --grey-100: hsl(0, 0%, 90%);
    --grey-200: hsl(0, 0%, 85%);
    --grey-300: hsl(0, 0%, 77%);
    --grey-400: hsl(0, 0%, 66%);
    --grey-500: hsl(0, 0%, 58%);
    --grey-600: hsl(0, 0%, 47%);
    --grey-700: hsl(0, 0%, 37%);
    --grey-800: hsl(0, 0%, 27%);
    --grey-900: hsl(0, 0%, 17%);

    --red: hsl(0, 97%, 72%);
    --dark-red: hsl(0, 100%, 32%);

    --white-svg: invert(99%) sepia(83%) saturate(7%) hue-rotate(207deg) brightness(114%) contrast(100%);
    --purple-100-svg: invert(89%) sepia(5%) saturate(2825%) hue-rotate(201deg) brightness(103%) contrast(103%);
    --purple-500-svg: invert(11%) sepia(100%) saturate(4993%) hue-rotate(269deg) brightness(111%) contrast(130%);

}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: var(--grey-100);
    color: var(--purple-900);
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body > div {
    height: 100%;
}

* {
  box-sizing: border-box;
}