@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global variables */
:root {
    /* Colors */
    --brown: #463728;
    --grey: #958A8A;
    --yellow: #DF9D3B;
    --red: #cf460c;
    --yellow-hover: #DBAD68;
    --yellow-svg: invert(89%) sepia(34%) saturate(3294%) hue-rotate(327deg) brightness(90%) contrast(93%);
    --yellow-svg-hover: invert(76%) sepia(59%) saturate(395%) hue-rotate(339deg) brightness(89%) contrast(93%);
    --brown-svg: invert(18%) sepia(29%) saturate(632%) hue-rotate(349deg) brightness(95%) contrast(87%);

    /* Misc */
    --default-border-radius: 10px;
}

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: var(--brown);
    color: var(--yellow);
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

body > div {
    height: 100%;
}

* {
  box-sizing: border-box;
}