.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 470px;
    border-radius: 10px;
}

.buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 240px;
}

.icon {
    filter: var(--yellow-svg);
    cursor: pointer;
}

.icon:hover {
    filter: var(--yellow-svg-hover);
    height: 34px;
    width: 34px;
    transition: 200ms;
}

.link {
    margin-bottom: 20px;
    font-size: 14px;
}
