.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, var(--purple-400), var(--purple-300));
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 40rem;
    border-radius: 10px;
    background-color: var(--purple-100);
}

.registerForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    height: 40rem;
    border-radius: 10px;
    background-color: var(--purple-100);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.welcomePrompt {
    margin-bottom: 1rem;
    font-weight: 700;
}

.prompt {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.textfieldsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mainButton {
    margin-bottom: 1.5rem;
}

.secondaryButton {
    margin-top: 1.5rem;
    border-bottom: 3px solid var(--purple-500);
    cursor: pointer;
    line-height: 0.8;
}

.secondaryButton:focus,
.secondaryButton:hover {
    border-bottom: 3px solid var(--purple-700);
}
