.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #6C5F4F;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 470px;
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.buttoncontainer {
    margin-top: 20px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    filter: invert(89%) sepia(34%) saturate(3294%) hue-rotate(327deg) brightness(90%) contrast(93%);
    cursor: pointer;
}

.link {
    font-size: 14px;
    margin-bottom: 20px;
}
