.loginform {
    width: 470px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #EDEDED;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.h1 {
    margin: 0;
}