.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registerform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 470px;
    height: 520px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #EDEDED;
}

.h1 {
    margin: 0;
}

.link {
    font-size: 14px;
}