.userProfileContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: 5rem;
}